/*body {
    background-image: repeating-conic-gradient(crimson 0% , tomato 16.67%, yellow 33.33%, green 50%, blue 66.67%, purple 83.33%, crimson 100%);

}

/*.spin-animation {
    background-image: repeating-conic-gradient(crimson 0% , tomato 16.67%, yellow 33.33%, green 50%, blue 66.67%, purple 83.33%, crimson 100%);
    -webkit-animation: animate-gradient 2s linear infinite;
    animation: animate-gradient .25s linear infinite;
    animation-direction: alternate-reverse;
}
      

@keyframes animate-gradient {
    0% {
        background-image: repeating-conic-gradient(
            crimson 0%, 
            tomato 16.67%, 
            yellow 33.33%, 
            green 50%, 
            blue 66.67%, 
            purple 83.33%, 
            crimson 100%
        );
    }
    16.67% {
        background-image: repeating-conic-gradient(
            crimson 100%, 
            tomato 0%, 
            yellow 16.67%, 
            green 33.33%, 
            blue 50%, 
            purple 66.67%, 
            crimson 83.33%
        );
    }
    33.33% {
        background-image: repeating-conic-gradient(
            crimson 83.33%, 
            tomato 100%, 
            yellow 0%, 
            green 16.67%, 
            blue 33.33%, 
            purple 50%, 
            crimson 66.67%
        );
    }
    50% {
        background-image: repeating-conic-gradient(
            crimson 66.67%, 
            tomato 83.33%, 
            yellow 100%, 
            green 0%, 
            blue 16.67%, 
            purple 33.33%, 
            crimson 50%
        );
    }
    66.67% {
        background-image: repeating-conic-gradient(
            crimson 50%, 
            tomato 66.67%, 
            yellow 83.33%, 
            green 100%, 
            blue 0%, 
            purple 16.67%, 
            crimson 33.33%
        );
    }
    83.33% {
        background-image: repeating-conic-gradient(
            crimson 33.33%, 
            tomato 50%, 
            yellow 66.67%, 
            green 83.33%, 
            blue 100%, 
            purple 0%, 
            crimson 16.67%
        );
    }
    100% {
        background-image: repeating-conic-gradient(
            crimson 16.67%, 
            tomato 33.33%, 
            yellow 50%, 
            green 66.67%, 
            blue 83.33%, 
            purple 100%, 
            crimson 0%
        );
    }
}
*/

.spin-animation::before {
    content: '';
    position: fixed;
    top: -100%; /* Adjust as needed */
    right: -100%; /* Adjust as needed */
    bottom: -100%; /* Adjust as needed */
    left: -100%; /* Adjust as needed */
    z-index: -1;
    background-image: repeating-conic-gradient(crimson 0%, tomato 16.67%, yellow 33.33%, green 50%, blue 66.67%, purple 83.33%, crimson 100%);
    background-size: cover; /* Scale the background image to cover the entire element */
    animation: spin 8s linear infinite;
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

